[Desktop Entry]
Name=Techno Sutra
Comment=Virtual Wisdom - Immersive Techno Sutra DEMO with VR support
GenericName=Techno Sutra DEMO
Exec=techno_sutra
Icon=techno-sutra
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;Viewer;
Keywords=panorama;360;vr;viewer;immersive;
StartupWMClass=techno_sutra
